# Generic .gitignore for C++/Python/Windows Desktop Apps

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# C++ / Visual Studio
.vs/
*.obj
*.exe
*.dll
*.lib
*.pdb
*.ilk
x64/
x86/
Debug/
Release/

# Build folders
build/
dist/

# OS Files
.DS_Store
Thumbs.db
ehthumbs.db
